{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    #carte {
     height: 600px;
     width: 100%;
    }
 </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    <link rel="stylesheet" href="{{ asset('js/search-previz/build/static/css/main.b1928253.css') }}">

{% endblock %}

{% block body %}
    <div id="root" style="background-color:white;">
      <div id="carte"></div>
    </div>
    <script>

      function getData() {
         var url = "{{elsaticsearch_url}}/_search";
        // var url = "http://127.0.0.1:9200/visam_elastica/_search";
         var params = '{"query":{"bool":{"must":[{"term":{"annee_collecte":"{{anneeCollecte[0].annee}}"}},{"term":{"actif":1}},{"bool":{"filter":{"geo_bounding_box":{"geo":{"top_right":{"lat":73.603373,"lon":-179.192290},"bottom_left":{"lat":-62.884311,"lon":-168.470475}}}}}}]}},"aggs":{"_type4":{"filter":{},"aggs":{"_type":{"terms":{"field":"_type","size":50}},"_type_count":{"cardinality":{"field":"_type"}}}},"etablissement5":{"filter":{},"aggs":{"etablissement":{"terms":{"field":"etablissement","size":50}},"etablissement_count":{"cardinality":{"field":"etablissement"}}}},"hesamette6":{"filter":{},"aggs":{"hesamette":{"terms":{"field":"hesamette","size":"24"}},"hesamette_count":{"cardinality":{"field":"hesamette"}}}},"niveau7":{"filter":{},"aggs":{"niveau":{"terms":{"field":"niveau","size":"24","order":{"_term":"asc"},"exclude":["Sans objet","Doctorat","Licence 1","Licence 2","Licence 3","Master 1","Master 2","bac +5"]}},"niveau_count":{"cardinality":{"field":"niveau"}}}},"lmdThesaurus8":{"filter":{},"aggs":{"lmdThesaurus":{"terms":{"field":"lmdThesaurus","size":"24"}},"lmdThesaurus_count":{"cardinality":{"field":"lmdThesaurus"}}}},"typeDiplome9":{"filter":{},"aggs":{"typeDiplome":{"terms":{"field":"typeDiplome","size":"24","order":{"_term":"asc"},"exclude":["","Sans objet","Sans objet "]}},"typeDiplome_count":{"cardinality":{"field":"typeDiplome"}}}},"geo":{"filter":{},"aggs":{"areas":{"geohash_grid":{"field":"geo","precision":6,"size":100},"aggs":{"cell":{"geo_bounds":{"field":"geo"}}}},"significant":{"significant_terms":{"field":"etablissement","size":2}},"bounds":{"geo_bounds":{"field":"geo"}}}}},"size":999,"sort":[{"_score":"desc"}],"highlight":{"fields":{"nom":{},"HesametteString":{},"discipline":{},"description":{}}},"_source":["nom","description","niveau","type","discipline","description","hesamette","HesametteString","etablissement","geo","annee","effectif","niveau","url","lien","mailContact","sigle","code","annee_collecte","lmdThesaurus"]}';
        var xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.open("POST", url, true);
        //Send the proper header information along with the request
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(params);
        xhr.onreadystatechange = function() {
      		if (xhr.readyState == 4 && (xhr.status == 200 || xhr.status == 0)) {
      			initMap(JSON.parse(xhr.responseText));
      		}
      	}

      }


        function initMap(_response) {

          var sw = new google.maps.LatLng({lat: _response.aggregations.geo.bounds.bounds.bottom_right.lat, lng : _response.aggregations.geo.bounds.bounds.bottom_right.lon});
          var ne = new google.maps.LatLng({lat: _response.aggregations.geo.bounds.bounds.top_left.lat, lng : _response.aggregations.geo.bounds.bounds.top_left.lon});

          var box = new google.maps.LatLngBounds(ne,sw);
          var styledMapType = new google.maps.StyledMapType([{"featureType":"administrative.locality","elementType":"all","stylers":[{"hue":"#2c2e33"},{"saturation":7},{"lightness":19},{"visibility":"on"}]},{"featureType":"administrative.locality","elementType":"labels.text","stylers":[{"visibility":"on"},{"saturation":"-3"}]},{"featureType":"administrative.locality","elementType":"labels.text.fill","stylers":[{"color":"#c30d26"}]},{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#ff0023"},{"saturation":-100},{"lightness":100},{"visibility":"simplified"}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#ff0023"},{"saturation":-100},{"lightness":100},{"visibility":"off"}]},{"featureType":"poi.school","elementType":"geometry.fill","stylers":[{"color":"#c30d26"},{"saturation":"0"},{"visibility":"off"},{"lightness":"79"},{"gamma":"4.27"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#ff0023"},{"saturation":"100"},{"lightness":31},{"visibility":"simplified"}]},{"featureType":"road","elementType":"geometry.stroke","stylers":[{"color":"#c30d26"},{"saturation":"0"}]},{"featureType":"road","elementType":"labels","stylers":[{"hue":"#ff0023"},{"saturation":-93},{"lightness":31},{"visibility":"on"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#c30d26"},{"saturation":"0"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"hue":"#ff0023"},{"saturation":-93},{"lightness":-2},{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.text","stylers":[{"visibility":"off"}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"hue":"#ff0023"},{"saturation":-90},{"lightness":-8},{"visibility":"simplified"}]},{"featureType":"transit","elementType":"all","stylers":[{"hue":"#ff0023"},{"saturation":10},{"lightness":69},{"visibility":"on"}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#0098ff"},{"saturation":-78},{"lightness":67},{"visibility":"simplified"}]}])
          var map = new google.maps.Map(document.getElementById('carte'), {
            zoom: 12
          });
          map.fitBounds(box);
          map.mapTypes.set('styled_map', styledMapType);
          map.setMapTypeId('styled_map');
          console.log(_response.hits.hits);
          var markers = new Array();
          var infowindows = new Array();
          console.log(_response);

          for (var i = 0; i < _response.hits.hits.length; i++) {
            var hit = _response.hits.hits[i];
            console.log(hit);
            addMarker(map, hit);

          }

          function addMarker(map, hit){
            var position = hit._source.geo.split(',');
            console.log(hit._source.etablissement);
            var contentString =
                       '<div id="content" class="notice petit resultat">'+
                       '<div>'+
                       // '<a href="/'+hit._type+'/'+hit._id+'" target="_blank">'+
                       // '<h1 class="sk-hits-list-hit__nom">'+hit._source.nom+'</h1>'+
                       // '</a>'+
                       '<a href="/search/?etablissement[0]='+hit._source.etablissement[0]+'" target="_blank">'+
                       '<h1 class="sk-hits-list-hit__nom">'+hit._source.etablissement[0]+'</h1>'+
                       '</a>'+
                       '</div>'+
                       '</div>';
              var infoWin = new google.maps.InfoWindow({content: contentString});
              var marker = new google.maps.Marker({
                  map: map,
                  position: {lat: parseFloat(position[0]), lng: parseFloat(position[1])},
                  title: hit._source.nom
              });
              google.maps.event.addListener(marker, 'click', function(){
                  infoWin.open(map, marker);
              });
          }

        }

      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-xVtrt5MG5-Ym3bZvezFY35Xx1xdEMI4&callback=getData"></script>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
