{% import _self as formMacros %}

{% macro printMembreRow(membreForm) %}
    <div class="col s12 js-membre-item">
        <a href="" class="js-remove-membre right">
            <i class="material-icons black-text" >delete</i>
        </a>

        {{ form_errors(membreForm) }}
        {{ form_row(membreForm.nom, {'label' : "Nom"}) }}
        {{ form_row(membreForm.prenom, {'label' : "Prénom"}) }}
        {{ form_row(membreForm.genre, {'label' : "Genre (F ou M)"}) }}
        {{ form_row(membreForm.mail, {'attr' : {'class' : 'form-control', 'data-parsley-trigger' : 'change', 'label' : " Contact du responsable pédagogique (adresse e-mail)"}}) }}

    </div>
{% endmacro %}

{% macro printTagRow(tagForm) %}

    <div class="col s12 js-tag-item">
        <a href="" class="js-remove-tag right">
            <i class="material-icons black-text" >delete</i>
        </a>

        {{ form_errors(tagForm) }}
        {{ form_row(tagForm.nom) }}

    </div>

{% endmacro %}


<div class="row form">

    <div class="col s6">
        {% if formation.checkGeneral %}
            <div class="cartouche_checked">
        {% else %}
            <div class="cartouche">
        {% endif %}

            <h3>Informations générales</h3>
            {{  form_row(edit_form.nom, {'label' : "Nom de la formation / du diplôme"}) }}
            {{ form_row(edit_form.description) }}
            {{ form_row(edit_form.url, {'label' : "URL de la formation"})}}
            {{ form_row(edit_form.etablissement, {'label' : "Etablissement(s)"}) }}
            {{ form_row(edit_form.lien2,  {'label' : "Autre lien"}) }}

            {% if(localisations|length>1 or is_granted('ROLE_ADMIN'))  %}
                {{ form_row(edit_form.localisation,  {'label' : "Lieu(x)"}) }}
            {% else %}
                <div class="hide">
                    {{ form_row(edit_form.localisation) }}
                </div>
            {% endif %}

            <h4>Responsable(s)</h4>

                <div class="row js-membre-wrapper" data-prototype="{{ formMacros.printMembreRow(edit_form.membre.vars.prototype)|e('html_attr') }}" data-index="{{ edit_form.membre|length }}">

                    {% for membreForm  in edit_form.membre  %}
                        {{ formMacros.printMembreRow(membreForm) }}
                    {% endfor %}

                    <div class="col s12">
                        <a href="#" class="js-add-membre valign-wrapper col s12">
                            <i class="material-icons black-text ">add</i>
                            Ajouter un nouveau contact
                        </a>
                    </div>
                </div>

                {# prevents weird label from showing up in new #}
                {{ form_widget(edit_form.membre) }}

                {{ form_widget(edit_form.checkGeneral) }}
                {{ form_label(edit_form.checkGeneral) }}
                {{ form_errors(edit_form.checkGeneral) }}

        </div>

    </div>

    <div class="col s6">
        {% if formation.checkEffectif %}
            <div class="cartouche_checked">
        {% else %}
            <div class="cartouche">
        {% endif %}
            <h3>Effectif</h3>

            {{ form_row(edit_form.effectif) }}
            {{ form_row(edit_form.annee, {'label' : "Année"}) }}

            {{ form_widget(edit_form.checkEffectif) }}
            {{ form_label(edit_form.checkEffectif) }}
            {{ form_errors(edit_form.checkEffectif) }}

        </div>
    </div>

    <div class="col s6">

        {% if formation.checkIndex %}
            <div class="cartouche_checked">
        {% else %}
            <div class="cartouche">
        {% endif %}

            <h3>Indexation</h3>

            {#{{ form_row(edit_form.discipline) }}#}
            {{ form_row(edit_form.cnu) }}
            {{ form_row(edit_form.hceres) }}
            {{ form_row(edit_form.sise) }}

            <h4>Mot(s) Clé(s)</h4>

            <div class="row js-tag-wrapper" data-prototype="{{ formMacros.printTagRow(edit_form.tag.vars.prototype)|e('html_attr') }}" data-index="{{ edit_form.tag|length }}">

                {% for tagForm  in edit_form.tag  %}
                    {{ formMacros.printTagRow(tagForm) }}
                {% endfor %}

                <div class="col s12">
                    <a href="#" class="js-add-tag valign-wrapper col s12">
                        <i class="material-icons black-text ">add</i>
                        Ajouter un nouveau mot clé
                    </a>
                </div>
            </div>

            {# prevents weird label from showing up in new #}
            {{ form_widget(edit_form.tag) }}

            {{ form_widget(edit_form.checkIndex) }}
            {{ form_label(edit_form.checkIndex) }}
            {{ form_errors(edit_form.checkIndex) }}


        </div>
    </div>

    <div class="col s6">

        {% if formation.checkCursus %}
            <div class="cartouche_checked">
        {% else %}
            <div class="cartouche">
        {% endif %}
            <h3>Cursus</h3>

            {{ form_row(edit_form.lmd_thesaurus, {'label' : "Parcours LMD"}) }}
            {{ form_row(edit_form.niveau_thesaurus, {'label' : "Niveau de sortie"}) }}
            {{ form_row(edit_form.typediplome_thesaurus, { 'label' : 'Type de diplôme'}) }}
            {{ form_row(edit_form.ects, {'label' : "Crédits ECTS"}) }}
            {{ form_row(edit_form.modalite_thesaurus, {'label' : "Modalité de la formation"}) }}
            {{ form_row(edit_form.metier, {'label' : "Métiers"}) }}

            {{ form_widget(edit_form.checkCursus) }}
            {{ form_label(edit_form.checkCursus) }}
            {{ form_errors(edit_form.checkCursus) }}

        </div>
    </div>

</div>