{% extends 'editeur.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

    <div class="container">

    <h1>Editer une formation - {{ formation.anneeCollecte }}</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-to-check', 'data-parsley-validate' : ''} }) }}

        {{ include('EditeurBundle:Formation:_form.html.twig') }}

        <div class="center">
            <input type="submit" class="btn btn-hesam" value="Sauvegarder" formnovalidate />

    {{ form_end(edit_form) }}

    {% include "EditeurBundle:modals:_retour.html.twig" %}

    {{ form_start(delete_form) }}
    <button value="Supprimer" class="btn btn-hesam right" >Supprimer</button>
    {{ form_end(delete_form) }}

        </div>

        <div>
            <br><br><br>
        </div>
    </div>

{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/membreForm.js') }}"></script>
    <script src="{{ asset('js/tagForm.js') }}"></script>
{% endblock %}