{% extends 'editeur.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

<div class="container">
    <h1>Ajouter une formation - {{ year }}</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-to-check', 'data-parsley-validate' : ''} }) }}

        {{ include('EditeurBundle:Formation:_form.html.twig') }}

    <div class="center">
        <input type="submit" class="btn btn-hesam" value="Créer" formnovalidate />

    {{ form_end(edit_form) }}

    {% include "EditeurBundle:modals:_retour.html.twig" %}

    </div>
</div>

{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/membreForm.js') }}"></script>
    <script src="{{ asset('js/tagForm.js') }}"></script>
{% endblock %}