{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Edition d'un élément de thésaurus</h1>

        {{ form_start(edit_form) }}
            {{ include('EditeurBundle:Thesaurus:_form.html.twig') }}
            <input type="submit" value="Edit" class="btn btn-hesam" formnovalidate/>
        {{ form_end(edit_form) }}

        {{ form_start(delete_form) }}
            <button value="Supprimer" class="btn btn-hesam right ">Supprimer</button>
        {{ form_end(delete_form) }}

        {% include "EditeurBundle:modals:_retour.html.twig" %}
    </div>
{% endblock %}
