<footer class="page-footer red-hesam">
    <div class="container-fluid row">

      <div class="col s6 offset-s1">
          <h2>Les établissements membres</h2>

          <ul>
          {%  for etab in layout_hydrator.hydrateFooter  %}
              {% if etab.active %}
              <li><a href="/etablissement/{{etab.etablissementId}}">{{etab.nom}}</a></li>
              {% endif %}
          {% endfor %}
          </ul>
      </div>

        <div class="col s5">


            <div class="row">
                <h2>Contacts</h2>
                <span class="contactHesam ">
                <p> <strong>HESAM Université</strong></p>
                <p>15 rue Soufflot</p>
                <p>75005 Paris</p>
                <p>01 56 81 20 00</p>
                <p><a href="mailto:contact@hesam.eu">contact@hesam.eu</a></p>
                    <p><a href="mailto:cartographie@hesam.eu">cartographie@hesam.eu</a></p>
                </span>
            </div>
           <div class="col s2">
                <br><br>
                <img src="{{ asset('img/MESRIlogo_vert.jpg')}}" class="responsive-img" alt="Logo">
            </div>

            <div class="col s6">
                <p>Le projet a bénéficié du soutien de l’ANR au titre du programme Investissements d’avenir (ANR-11-IDEX-0006)  et de l'AMI 2016 sur la transformation pédagogique et numérique.</p>
            </div>
        </div>

        <div class="col offset-s7 s5">



        </div>
        <div class="s1"></div>

    </div>
    <div class="footer-copyright">
        <div class="container">
          <span>  © 2016-2017 HESAM Université - <i>visam</i> version 2</span>

            <a class="right" href="http://www.hesam.eu" target="_blank">Accéder au site HESAM</a>
        </div>
    </div>

</footer>
