<HTML>

    <!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
    <!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
    <!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
    <!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
    <!--[if gt IE 8]><!--> <html class="no-js" lang="fr"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Visualisations des compétences de la COMUE HESAM">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="robots" content="noindex, nofollow">


        <title>{% block title %}HESAM : cartographie des formations et de la recherche{% endblock %}</title>
            <link rel="icon" href="{{ asset('favicon.ico') }}" />
            {% block stylesheets %}

                <!--Import Google Icon Font-->
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


            <!--Import materialize.css-->
            <link rel="stylesheet"
                href="{{ asset('assets/vendor/materialize/dist/css/materialize.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}

    </head>

    <body>
        <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->


        {% include "_menu.html.twig" %}

        {% for msg in app.session.flashBag.get('success') %}
            <div class="container">
                <div class="card-panel">
                    <span class="teal-text">{{msg}}</span>
                </div>
            </div>
        {% endfor %}

        {% block body %}

            {% block fos_user_content %}{% endblock fos_user_content %}
        {% endblock %}


    <section class='footer-menu'>
        <ul>
            <li><a href="{{ path("apropos") }}">A propos</a></li>|
            <li><a href="#">Mode d'emploi</a></li>
            <li><a href="{{ path("statistiques") }}">Statistiques</a></li>|
            {% if is_granted('ROLE_USER') %}
                connecté : {{ app.user.username }}
                <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
            {% endif %}        </ul>

    </section>

        {% include "::_footer.html.twig" %}
        {% block javascripts %}

            <!-- Jquery -->
            <script type="text/javascript" src="{{ asset("assets/vendor/jquery/dist/jquery.min.js") }}"></script>
            <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

            <!-- Materialize -->
            <script type="text/javascript" src="{{asset('assets/vendor/materialize/dist/js/materialize.min.js')}}"></script>

            <!-- tablesorter -->
            <script type="text/javascript" src="{{ asset("assets/vendor/tablesorter/jquery.tablesorter.js") }}"></script>

            <!-- debug -->

            <script type="text/javascript" src="{{ asset("js/function.js") }}"></script>
        {% endblock %}

    </body>
</html>
