{% trans_default_domain 'FOSUserBundle' %}

<h1 class="center">Créer un contributeur</h1>

<div class="register-box">
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_row(form.username, {'label' : 'registration.user.label'|trans}) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.etablissement, {'label' : 'registration.etablissement.label'|trans} ) }}
    <input class="btn btn-primary red right" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>



{{ form_end(form) }}