{% extends "editeur.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

    <section class="container large row" id="admin">
        <h1 class="center">Administration de la plateforme</h1>

        <div class="col m3" id="menu_admin">
            <article>

                <ul class="collection with-header">
                    <h3 class="collection-header">Menu</h3>
                    <li class="collection-item">Dernières données
                        <ul class="browser-default">
                            <li>Formation</li>
                            <li>Laboratoire</li>
                            <li>Ecoles doctorales</li>
                        </ul>
                    </li>
                    <li class="collection-item"><a href="#etablissement">Gestion des établissements</a></li>
                    <li class="collection-item"><a href="#utilisateur">Gestion des utilisateurs</a></li>
                    <li class="collection-item"><a href="#thesaurus">Gestion du thésaurus</a></li>
                    <li class="collection-item"><a href="#localisation">Gestion des localisations</a></li>
                    <li class="collection-item"><a href="#collecte">Gestion des collectes</a></li>
                    {#<li class="collection-item"><a href="#collecte">Gestion de l'import</a></li>#}
                </ul>
            </article>
        </div>

        <div class="col m9" id="page_admin">

            <!-- Dernières données entrées -->

            <article class="card row">

                <h3 class="left">Dernières données entrées</h3>

                <a href="{{ path('admin_populate') }}"><button class="btn red right">Indexer</button></a>

                <div class="col s12">

                    <ul class="collection with-header">

                        <li class="collection-header"><h4>5 dernières formations éditées</h4></li>

                        {% for item in formations  %}

                            <li class="collection-item avatar js-formation-item">
                                <a href="{{ path('editeur_formation_edit', {'id': item.id } ) }}" >

                                    {% if item.checkGeneral and item.checkEffectif and item.checkIndex and item.checkCursus %}
                                        <i class="material-icons circle green">done</i>
                                    {% else %}
                                        <i class="material-icons circle red">mode_edit</i>
                                    {% endif %}

                                    <span class="title">{{ item.nom }}</span>
                                    <span class="lastmodif">dernière modification le <i>{{ item.lastUpdate|date() }}</i></span>
                                    <p>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">
                                            <span>général</span>
                                            {% if item.checkGeneral %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">
                                            <span>effectif</span>
                                            {% if item.checkEffectif %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">
                                            <span>indexation</span>
                                            {% if item.checkIndex %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">
                                            <span>cursus</span>
                                            {% if item.checkCursus %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>
                                    </p>

                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <p class="center comment"><a href="{{ path('admin_formations') }}">Voir toutes les données formations</a></p>

                </div>

                <div class="col s12">

                    <ul class="collection with-header">
                        <li class="collection-header"><h4>5 derniers laboratoires édités</h4></li>
                        {% for item in labos  %}
                            <li class="collection-item avatar js-labo-item">
                                <a href="{{ path('editeur_laboratoire_edit', {'id': item.id } ) }}" >
                                    {% if item.checkGeneral and item.checkContact and item.checkEtab and item.checkEtab and item.checkEffectifs and item.checkDescription %}
                                        <i class="material-icons circle green">done</i>
                                    {% else %}
                                        <i class="material-icons circle red">mode_edit</i>
                                    {% endif %}

                                    <span class="title">{{ item.nom }}</span>
                                    <span class="lastmodif">dernière modification le <i>{{ item.lastUpdate|date() }}</i></span>

                                    <p>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">général
                                            {% if item.checkGeneral %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">contact
                                            {% if item.checkContact %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">description
                                            {% if item.checkDescription %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">établissement
                                            {% if item.checkEtab %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>

                                    <div class="description_container">
                                        <span class="description valign-wrapper">effectifs
                                            {% if item.checkEffectifs %}
                                                <i class="material-icons green-text">done</i>
                                            {% else %}
                                                <i class="material-icons red-text">schedule</i>
                                            {% endif %}
                                        </span>
                                    </div>

                                    </p>
                                </a>

                            </li>

                        {% endfor %}
                    </ul>
                    <p class="center comment"><a href="{{ path('admin_laboratoires') }}">Voir toutes les données laboratoires</a></p>
                </div>

                <div class="col s12">

                    <ul class="collection with-header">
                        <li class="collection-header"><h4>5 dernières écoles doctorales éditées</h4></li>
                        {% for item in eds  %}
                            <li class="collection-item avatar js-labo-item">
                                <a href="{{ path('editeur_ed_edit', {'id': item.edId } ) }}" >
                                    <i class="material-icons circle grey">done</i>
                                    <span class="title">{{ item.nom }}</span>
                                    <span class="lastmodif">dernière modification le <i>{{ item.lastUpdate|date() }}</i></span>

                                </a>

                            </li>

                        {% endfor %}
                    </ul>

                    <p class="center comment"><a href="{{ path('admin_eds') }}">Voir toutes les données écoles doctorales</a></p>
                </div>

            </article>

            <!-- Gestion des établissements -->

            {%  include 'EditeurBundle:Admin:_etablissements.html.twig' %}

            <!-- Gestion des contributeurs -->

            {%  include 'EditeurBundle:Admin:_users.html.twig' %}


            <!-- thésaurus -->

            <div id="thesaurus">

                <article class="card">
                    <h3>Gérer le thésaurus</h3>

                    <div class="row">
                        <div class=" thesaurus col s7">
                        {% for item in thesaurus  %}

                            <div class="description_container">
                                <a href="{{ path('admin_thesaurus', {'slug': item.slug}) }}">
                                    <span class="description valign-wrapper thesaurus-item">
                                         {{ item.type }}
                                        <i class="material-icons">link</i>
                                    </span>
                                </a>
                            </div>
                        {% endfor %}

                            <p>Pour créer un nouveau type de thésaurus, il suffit de créer un nouvel item avec le type souhaité. Le type sera automatiquement ajouté à la liste ci-dessus.</p>

                        </div>



                        <div class=" col s5">
                            <div class="add_item_btn right">
                                <a href="{{ path('editeur_thesaurus_new') }}"><span class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></span>
                                </a>
                                <span class="legend_btn">Ajouter un élément</span>
                            </div>
                        </div>
                    </div>
                </article>
                </div>

            <div>



            <!-- localisations -->

            <article class="card" id="localisation">

                <h3>Gérer les localisations</h3>

                <div class="row">

                    <ul class="collection with-header">

                        <li class="collection-header"><h4>5 dernières formations éditées</h4></li>

                        {% for item in localisations  %}

                            <li class="collection-item avatar js-formation-item">
                                <a href="{{ path('editeur_localisation_edit', {'id': item.localisationId } ) }}" >
                                    <i class="material-icons circle grey">done</i>
                                    <span class="title">
                                    {% if item.nom != '' %}
                                        {{ item.nom }}

                                    {% else %}
                                        Sans titre
                                    {%  endif %}
                                    </span>

                                    <span class="lastmodif">dernière modification le <i>{{ item.timestamp|date() }}</i></span>

                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div>
                        <p class="center comment"><a href="{{ path('admin_localisations') }}">Voir toutes les données localisations</a></p>
                    </div>

                    <div class=" col s12">
                        <div class="add_item_btn right">
                            <a href="{{ path('editeur_localisation_new') }}"><span class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></span>
                            </a>
                            <span class="legend_btn">Ajouter un élément</span>
                        </div>
                    </div>
                </div>
            </article>
            </div>



            <!-- collectes -->

            <article class="card row" id="collecte">
                <h3>Gestion des collectes</h3>

                <div class="col s12">

                    {% if collectes|length > 0 %}

                        <p>La collecte prise en compte par le module d'exploration est la collecte de <span class="number">{% for item in collecte  %}{{ item.annee }}{% endfor %}</span></p>

                        <!-- collecte active? -->

                        {% if collecte_active|length > 0 %}

                        <ul class="collection with-header">
                            <li class="collection-header">
                                <h4>Collecte active</h4>
                            </li>
                            {% for item in collectes  %}
                                {% if item.active %}
                            <li class="collection-item avatar js-collection-item">
                                <div class="col s6">
                                    <i class="material-icons circle green">alarm</i>
                                    <span class="number">{{ item.annee }} </span>{{ item.nom }}
                                </div>
                                <p class="col s6">
                                    <a class="btn red darken-1 white-text" href="{{ path('editeur_collecte_close' , {'collecteId' : item.collecteId}) }}">Clôturer</a>
                                </p>
                            </li>
                                {% endif %}
                            {% endfor %}

                        </ul>
                        {% endif %}

                        <!-- collecte préparées -->

                        {% if collecte_prepare|length > 0 %}
                        <ul class="collection with-header">
                            <li class="collection-header">
                                <h4>Collectes préparées</h4>
                            </li>
                            {% for item in collectes  %}
                                {% if item.active != 1 and item.complete != 1 %}
                                    <li class="collection-item avatar js-collection-item">
                                        <div class="col s6">
                                            <i class="material-icons circle red">edit</i>
                                            <a href="{{ path('editeur_collecte_edit', {'collecteId': item.collecteId} ) }}"><span class="number">{{ item.annee }} </span>{{ item.nom }}</a>
                                        </div>
                                        <p class="col s6">
                                            <a class="btn grey white-text" href="{{ path('editeur_collecte_edit', {'collecteId': item.collecteId} ) }}">Modifier</a>
                                            {%  if collecte_active|length == 0 %}
                                            <a href="{{ path('editeur_collecte_start', {'collecteId': item.collecteId }) }}" class="btn red darken-1 white-text">Activer</a>
                                            {% endif %}
                                        </p>

                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}

                        <!-- collecte achevées -->

                        {% if collecte_complete|length > 0 %}

                        <ul class="collection with-header">
                            <li class="colletion-header">
                                <h4>Collectes achevées</h4>
                                {% for item in collectes  %}
                                {% if item.complete %}
                            <li class="collection-item avatar js-collection-item">
                                <i class="material-icons circle grey">done</i>
                                <span class="number">{{ item.annee }} </span>{{ item.nom }}

                            </li>
                            {% endif %}
                            {% endfor %}
                            </li>
                        </ul>
                        {% endif %}

                    {% else %}
                        <p>Il n'y a pas encore eu de collecte effectuée.</p>
                    {% endif %}



                    <div class="add_item_btn right">
                        {% if collectes|length > 0 %}
                        <a href="{{ path('editeur_collecte_new') }}"><span class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></span>
                            <span class="legend_btn">Préparer une nouvelle collecte</span>
                        </a>
                        {% else %}
                        <a href="{{ path('editeur_collecte_init') }}"><span class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></span>
                            <span class="legend_btn">Lancer la première collecte</span>
                        </a>
                        {% endif %}
                    </div>

                </div>

            </article>

        </div>

    </section>

    {{  render (controller("EditeurBundle:Ajax:uploadDocument")) }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("build/admin_menu.js") }}"></script>
    {#<script type="text/javascript" src="{{ asset("build/admin_accueil.js") }}"></script>#}

    <!-- list.js -->
    <script>

        var list_etablissement_options = {
            valueNames: [ 'titre', 'sigle' ],
            page: 10,
            pagination: true
        };

        var etablissementList = new List('etablissement', list_etablissement_options);

        var list_user_options = {
            valueNames: [ 'nom', 'mail'],
            page: 10,
            pagination: true
        };

        var userList = new List('user', list_user_options);


    </script>

    <script>
        $(document).ready(function() {

            $('.modal-trigger').leanModal();

            $('.js-duplication').on('click', function(e) {
                e.preventDefault();
                var r = confirm("Etes-vous sûr de vouloir dupliquer les laboratoires et formations de cet établissement ?");
                if (r == true) {
                    window.location = $(this).data('url');
                }
                e.preventDefault();
            });

            $('.js-remove-user').on('click', function(e) {
                e.preventDefault();
                var $el = $(this).closest('.js-user-item');
                var r = confirm("Etes-vous sûr de vouloir supprimer ce contributeur ?");
                if (r == true) {
                    $.ajax({
                        url: $(this).data('url'),
                        method: 'DELETE'
                    }).done(function() {
                        $el.fadeOut();
                    });
                }
                e.preventDefault();
            });

            $('.js-remove-etablissement').on('click', function(e) {
                e.preventDefault();
                var $el = $(this).closest('.js-etablissement-item');
                var r = confirm("Etes-vous sûr de vouloir supprimer cet établissement ?");
                if (r == true) {
                    $.ajax({
                        url: $(this).data('url'),
                        method: 'DELETE'
                    }).done(function() {
                        $el.fadeOut();
                    });
                }
                e.preventDefault();
            });

            $('#upload_file_type_0').click(function() {
                $('.message-upload').html('');
                $('#logList').html('');
                $('#upload_file_attachment').val(null);
            });

            $('#upload_file_type_1').click(function() {
                $('.message-upload').html('');
                $('#logList').html('');
                $('#upload_file_attachment').val(null);
            });

            $('.modal-trigger').click(function(){
                $('.message-upload').html('');
                $('#logList').html('');
                $('.message-upload').removeClass('invalid valid');
                $('#upload_file_attachment').val(null);
                $('#upload_file_etablissement').val($(this).attr('data-id-etablissement'));
                $('.modal-header #titre').html('<strong>'+$(this).attr('data-nom-etablissement')+'</strong>');
            });
        });


    </script>

    <script>

        $("#uploadform").submit(function (event) {

            event.preventDefault();
            $('#logList').html('');
            $('.message-upload').html('');
            $('#upload_file_upload').html('Uploading...');
            $('#upload_file_cancel').hide();
            // Create a new FormData object.
            //var formData = new FormData();

            // formData.append('type', $('input[type=radio]:checked').val());
            $.ajax( {
                url: "{{ path('upload') }}",
                type: 'POST',
                data: new FormData( this ),
                processData: false,
                contentType: false,
                success: function (data) {
                    $('#upload_file_upload').html('Importer');
                    $('#upload_file_cancel').show();
                    if (data.success === false) {
                        var info = '<div id ="block_log" style="overflow:auto; height: 120px; width: 95%; border: 3px solid red;">';
                        //$('.message-upload').html(data.msg);
                        if (data.log) {
                            var url = '{{ path("show_log", {'id': 'filename'}) }}';
                            url = url.replace("filename", data.filename);
                            $('.message-upload').html(data.msg + '<br /><a id="logpdf" href="' + url + '" target="_blank">Télécharger le fichier en format PDF</a>');
                        } else {
                            $('.message-upload').html(data.msg);
                        }
                        $('.message-upload').addClass('invalid');
                        info += '</ul>';
                        $.each(data.log, function(i,line) {
                            info += '<li>' + line + '</li>';
                        });
                        info += '</ul></div></br>';

                        $('#logList').html(info);
                    } else {
                        $('.message-upload').html(data.msg);
                        $('.message-upload').addClass('valid');
                    }
                },
                error: function(jqXHR, textStatus, errorThrown)
                {   $('#upload_file_upload').html('Envoyer');
                    $('#upload_file_cancel').show();
                    $('.message-upload').html('Le temps d\'exécution maximum autorisé est dépassé');
                    $('.message-upload').addClass('invalid');
                }
            });
        });

    </script>
{% endblock %}