{% extends "editeur.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Toutes les localisations</h1>

        <div class="card">
            <ul class="collection with-header">
                {% for item in localisations  %}
                    <li class="collection-item avatar js-labo-item row">
                        <div class="col s11">
                        <a href="{{ path('editeur_localisation_edit', {'id': item.localisationId } ) }}" >
                            <i class="material-icons circle grey">done</i>
                            <span class="title">
                                {% if item.nom != '' %}
                                    {{ item.nom }}
                                {% else %}
                                    Sans titre
                                {% endif %}
                            </span>
                            <span class="lastmodif">dernière modification le <i>{{ item.timestamp|date() }}</i></span>
                        </a>
                        </div>
                        <div class=" col s1">
                            <div class="center">
                                <a href="#!" class="js-remove-localisation" data-url="{{ path('editeur_localisation_ajax_delete', { localisationId : item.localisationId}) }}" ><i class="material-icons">delete</i>
                                </a>
                            </div>

                        </div>
                    </li>

                {% endfor %}
            </ul>
        </div>
        <ul class="pagination center">
            {% for u in 0..(nbPages-1)  %}
                {% if page == loop.index %}
                    <li class="active"><a href="{{ path('admin_localisations' , {'page' : loop.index}) }}">{{ loop.index }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="{{ path('admin_localisations' , {'page' : loop.index}) }}">{{ loop.index }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </section>

{% endblock %}


{% block javascripts %}

    {{ parent() }}
    <script>

        $(document).ready(function() {
            $('.js-remove-localisation').on('click', function (e) {

                e.preventDefault();

                var $el = $(this).closest('.js-labo-item');
                var r = confirm("Etes-vous sûr de vouloir supprimer cette localisation?");

                if (r == true) {
                    $.ajax({
                        url: $(this).data('url'),
                        method: 'DELETE'
                    }).done(function () {
                        $el.fadeOut();
                    });
                }

                e.preventDefault();
            });
        });

    </script>
{% endblock %}
