{% extends "editeur.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
    <style>
        .number{font-size:1em;}
        h3{font-size:1.3em;}
        table{margin-bottom:30px;}
    </style>
{% endblock %}


{% block body %}

<section class="container">
    <h1 class="center">Synthèse des données</h1>

    <div class="card">
        <h2>Etablissements</h2>

        <p>Nombre d'établissements inscrits dans la BD : <span class="number">{{ etablissements.total }}</span></p>

        <p>Nombre d'établissements actifs : <span class="number">{{ etablissements.active }}</span></p>
    </div>

    <div class="card">
        <h2>Collectes</h2>

        <p>Nombre de collectes : <span class="number">{{ collectes.total }}</span></p>
        <p>Nombre de collecte(s) achevée(s) : <span class="number">{{ collectes.nb_complete }}</span></p>
        <p>Collecte active (collecte prise en compte pour la préviz) :  <span class="number">{{ collectes.nom_active }}</span></p>
        <p>Dernière collecte achevée (= collecte prise en compte par les interfaces): <span class="number">{{ collectes.last }}</span></p>

    </div>

    <div class="card">
        <h2>Formations</h2>

        <p>Nombre formations : <span class="number">{{ formations.total }}</span></p>
        <p>Nombre de formations uniques : <span class="number">{{ formations.distinct }}</span></p>

        <h3>Nombre de formations par année de collecte</h3>

        <table class="table striped">
            <tr>
                <th>Année</th>
                <th>Nombre de formations</th>
            </tr>
        {%  for item in formations.by_collecte %}
            <tr>
                <td>{{ item.annee }}</td><td>{{ item.nb }}</td>
            </tr>
        {% endfor %}
        </table>

        <h3>Nombre de formations par établissement</h3>

        <table class="table striped">
            <tr>
                <th>Année</th>
                <th>Nombre de formations</th>
            </tr>
            </tr>
            {%  for item in formations.by_etablissement %}
                <tr>
                    <td>{{ item.etablissement }}</td><td>{{ item.nb }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Liste des formations sans établissements ({{ formations.nb_orphelins }}) </h3>
        <ul class="browser-default">
            {% for formation in formations.no_etablissement  %}
                <a href="{{ path('formation', {'id': formation.id}) }}"><li class="default">{{ formation.nom }}</li></a>
            {% endfor %}
        </ul>


    </div>

    <div class="card">
        <h2>Laboratoires</h2>

        <p>Nombre de laboratoires : <span class="number">{{ laboratoires.total }}</span></p>
        <p>Nombre de laboratoires uniques : <span class="number">{{ laboratoires.distinct }}</span></p>

        <h3>Nombre de laboratoires par année de collecte</h3>

        <table class="table striped">
            <tr>
                <th>Année</th>
                <th>Nombre de laboratoires</th>
            </tr>
            {%  for item in laboratoires.by_collecte %}
                <tr>
                    <td>{{ item.annee }}</td><td>{{ item.nb }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Nombre de laboratoires par établissement</h3>

        <table class="table striped">
            <tr>
                <th>Année</th>
                <th>Nombre de laboratoires</th>
            </tr>
            </tr>
            {%  for item in laboratoires.by_etablissement %}
                <tr>
                    <td>{{ item.etablissement }}</td><td>{{ item.nb }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Liste des laboratoires sans établissements ({{ laboratoires.nb_orphelins }}) </h3>
        <ul class="browser-default">
            {% for labo in laboratoires.no_etablissement  %}
                <a href="{{ path('labo', {'id': labo.id}) }}"><li class="default">{{ labo.nom }}</li></a>
            {% endfor %}
        </ul>
    </div>

    <div class="card">
        <h2>Ecoles doctorales</h2>

        <p>Nombre d'écoles doctorales : <span class="number">{{ eds.total }}</span></p>

        <h3>Nombre d'écoles doctorales par année de collecte</h3>

        <table class="table striped">
            <tr>
                <th>Année</th>
                <th>Nombre d'écoles doctorales</th>
            </tr>
            {%  for item in eds.by_collecte %}
                <tr>
                    <td>{{ item.annee }}</td><td>{{ item.nb }}</td>
                </tr>
            {% endfor %}
        </table>

        <h3>Nombre d'écoles doctorales par établissement</h3>

        <table class="table striped">
            <tr>
                <th>Année</th>
                <th>Nombre d'écoles doctorales</th>
            </tr>
            </tr>
            {%  for item in eds.by_etablissement %}
                <tr>
                    <td>{{ item.etablissement }}</td><td>{{ item.nb }}</td>
                </tr>
            {% endfor %}
        </table>

    </div>
</section>

{% endblock %}