<div class="row form">

    <div class="col s12">
        <div class="cartouche">


            <h3>Informations générales</h3>

            {{ form_row(edit_form.nom) }}
            {{ form_row(edit_form.complet) }}
            {{ form_row(edit_form.lat) }}
            {{ form_row(edit_form.long) }}
            {{ form_row(edit_form.ville) }}
            {{ form_row(edit_form.cedex) }}
            {{ form_row(edit_form.adresse) }}
            {{ form_row(edit_form.complementAdresse) }}
            {{ form_row(edit_form.region) }}
            {{ form_row(edit_form.pays) }}
            {{ form_row(edit_form.codePays) }}

            {{ form_row(edit_form.localisationId) }}
            {{ form_row(edit_form.ufr) }}
            {{ form_row(edit_form.formation) }}
            {{ form_row(edit_form.etablissement) }}
            {{ form_row(edit_form.ed) }}
            {{ form_row(edit_form.labo) }}
            {{ form_row(edit_form.type, {'label': "Type (1 ou 2)"}) }}
            {{ form_row(edit_form.code) }}

        </div>
    </div>


</div>

