{% extends 'editeur.html.twig' %}


{% block body %}

    <div class="container">

    <h1>Editer une localisation</h1>

    {{ form_start(edit_form, {'attr': {'class': 'form-to-check', 'data-parsley-validate' : ''} }) }}

        {{ include('EditeurBundle:Localisation:_form.html.twig') }}

        <input type="submit" class="btn btn-hesam" value="Sauvegarder" formnovalidate />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
        <button value="Supprimer" class="btn btn-hesam right " >Supprimer</button>
    {{ form_end(delete_form) }}

    {% include "EditeurBundle:modals:_retour.html.twig" %}

    </div>

{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/membreForm.js') }}"></script>
    <script src="{{ asset('js/tagForm.js') }}"></script>
{% endblock %}