@font-face {
    font-family: 'HKGroteskBold';
        src: url('../fonts/hk-grotesk/HKGrotesk-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'HKGroteskBoldItalic';
        src: url('../fonts/hk-grotesk/HKGrotesk-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'HKGroteskItalic';
        src: url('../fonts/hk-grotesk/HKGrotesk-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'HKGroteskLight';
        src: url('../fonts/hk-grotesk/HKGrotesk-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'HKGroteskLightItalic';
        src: url('../fonts/hk-grotesk/HKGrotesk-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'HKGroteskMedium';
        src: url('../fonts/hk-grotesk/HKGrotesk-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'HKGroteskMediumItalic';
        src: url('../fonts/hk-grotesk/HKGrotesk-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'HKGroteskRegular';
        src: url('../fonts/hk-grotesk/HKGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'HKGroteskSemiBold';
        src: url('../fonts/hk-grotesk/HKGroteskSemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'HKGroteskSemiBoldItalic';
        src: url('../fonts/hk-grotesk/HKGroteskSemiBoldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@import url("https://fonts.googleapis.com/css?family=Bitter:400,400italic,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,600");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  background-color: #e9e9e9;
/*  font-family: Bitter, serif;
*/  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
.accueil {
  background-color: white;
}
h1, h2, h3, h4, h5 {
  font-family: "HKGroteskBold", sans-serif;
}


.rechercher-wrapper input[type=text]{
    width: 70%;
}

.number {
  font-size: 2.6em;
  color:#db0c27;
    font-family: "HKGroteskBold", sans-serif;
    margin:0px;

}

.number-label {
  font-size: 1.4em;
  color:black;
    font-family: "HKGroteskBold", sans-serif;
}

.background-white {
  background-color: white;
}

.max-height {
  max-height: 230px;
  overflow: hidden;
}

header.etablissement {
  background: url('../img/louvres.jpg');
  background-size: cover;
    padding:5rem;

}
header.etablissement h1 {
  margin: 0px;
  color:white;
}

.etabissement_description {
  font-size: 1.4rem;
}

.card a {
  color: black;
}

.chip {
  color: #ffab40;
  background-color: white;
  border: 1px solid #ffab40;
}
/* Parallax */

.parallax-container {
  height: 350px;
}

.cartouche {
  padding: 10px;
  margin: 5px 15px;
  margin-bottom: 10px;
  border: 1px solid #c00;
  border-radius: 3px;
}

.cartouche_checked {
  padding: 10px;
  margin: 5px 15px;
  margin-bottom: 10px;
  border: 1px solid #31b404;
  border-radius: 3px;
}

.form h3 {
  font-size: 1.3em;
}

.form label {
  color: #2b373b;
}

/* General */



#ecoles .card-content {
  height: 150px;
}

.card-content {
  overflow: auto;
}

#map {
  height: 700px;
}

#rechercher {
  width: 100%;
  height: 800px;
}

.brand-logo {
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

.tags {
  margin-bottom: 4px;
}

.redHesam {
  background-color: #db0c27;
}

/* Buttons */

.sk-layout footer {
    text-align: center;
    background-color: inherit;
  }
.sk-layout footer button {
    background-color: white;
    border-color: white;
  }

  .is-active .sk-item-list-option__count {
      font-weight: 700;
      color:black;
    }
.btn-hesam {
  background-color: #de1d34;
}

.btn-hesam:hover {
  background-color: #de1d34;
}

.btn-hesam-inverse {
  color: #de1d34;
  background-color: white;
}




/* Homepage  */

.recherche-home {
  background: url('../img/louvres.jpg');
  background-size: cover;
}

.presentation-home .anr {
  font-weight: 700;
}

.recherche-home #mainLogo {
  width: 350px;
}

.recherche-home .titre {
  text-align: center;
}
.recherche-home h1 {
  font-size: 2.9rem;
}


.recherche-home .wrapper {
  background-color: rgba(255,255,255,.5);
}

.recherche-home input {
  padding: 0 15px;
  margin-left: -.75rem;
  background-color: white;
}

.recherche-home input:focus:not([readonly]) {
  border-bottom: 1px solid #de1d34;
  box-shadow: 0 1px 0 0 #de1d34;
}

.recherche-home form {
  margin-bottom: 90px;
}

.chiffres-home {
  margin-top: -70px;
}


@media(max-width:100px) and (min-width:1200px){
  .chiffres-home li {
    font-size: 1.3rem !important;
  }
}


.chiffres-home li {
  min-height: 150px;
  padding: 5px;
  font-size: 1.6rem;
  text-align: center;
  background-color: white;
  border: 1px solid #e9e9e9;
}
.chiffres-home li span {
  display: block;
  font-size: 4rem;
}


.rubrique-home {
  color: white;
  background-color: #4b5063;
}

.rubrique-home li {
  font-size: 1.5rem;
}

.rubrique-home a {
  color: white;
}

.rubrique-home a:hover {
  text-decoration: underline;
}

.etablissements-home li {
  text-align: center;
  border: 1px solid #e9e9e9;
}
.etablissements-home img {
  min-height: 140px;
  max-height: 140px;
}

footer h2 {
  font-size: 1.9em;
}

footer p {
  font-size: 1.1em;
}


footer .container-fluid {
  margin-bottom: 0;
}

.red-hesam {
  background-color: #db0c27;
}

.accueil-liens {
  font-size: 1.2em;
  text-decoration: underline;
}

footer {
  background-color: #e9e9e9;
}

footer {
  color: black;
}

footer a {
  color: #4b5063;
}


footer.page-footer {
  margin-top: 0;
  background-color: #e9e9e9;
}


footer .contactHesam {
  line-height: 1px;
}

footer h2, footer h3 {
  margin-top: 0;
}

.footer-menu {
  text-align: center;
  background-color: #4b5063;
  /*      margin-top: 120px;
*/
}
.footer-menu ul {
  margin: 0;
  color: white;
}
.footer-menu li {
  display: inline-block;
  padding: 10px 20px;
}

.footer-menu li  a {
  color: white;
}

.footer-copyright {
  color: #4b5063 !important;
}


#form-type-csv, #form-file-csv {
  float: left;
  width: 50%;
}

.invalid {
  color: red;
}

.valid {
  color: limegreen;
}

#loader {
  text-align: center;
  padding-top: 2.5rem;
}

/* List js */

.pagination .active {
  background: #de1d34!important;
}

.brand-logo {
  font-family: "HKGroteskBold", sans-serif;
    color:black !important;

}

.brand-logo span {
  color:white;
}

#nav-mobile img {
  padding-right: 6px;

}

/* Front NOTICE */
.notice .background {
  background-color: white;
}
.notice section {
  border-bottom: 1px solid #e3e3e3;
}

.notice section:last-child {
  border: none;

}

.notice a {
  color:black;
  text-decoration: underline;
}

.notice h1, .notice h2, .notice h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.notice h1 {
  font-size: 2.6rem;
}

.notice h2 {
  font-size: 1.7rem;
  color:#db0c27;
}

.notice h2 a {
    color:#db0c27;
    text-decoration: none;
}

.notice h4 {
  font-size: 1.2rem;
}

.notice .type  h4 {
  display: inline-block;
}
.notice h5 .material-icons {
  color:#db0c27;
  font-size: 1.2rem;
}

.notice .infos {
  background-color: #e3e3e3;
  margin-top: 3rem;
}
.notice .infos h4 {
  background-color: black;
  color:white;
  display: inline-block;
  padding: 0.4rem;
  margin-top: -2rem;
  margin-bottom: 0;
}
.notice .infos span {
  font-weight:700;
}
.notice.petit h2 {
  font-size: 1.5rem;
  color:black;
}

.notice .adresse p {
  margin:0px;
}

.notice.petit h3 {
  font-size: 1rem;
  color:#db0c27;
}
.notice.petit h4 {
  margin-top: 4px;
}
.notice.petit {
  background-color: white;
  padding :1rem;
}
.notice.laboratoire .type img, .labo .notice .type img {
  width:30px;
  vertical-align:middle;
  padding-right: 6px;
}
.notice.laboratoire .type h4, .labo .notice .type h4 {
  border: 2px solid #0ac0a8;
  padding : 4px;
  vertical-align: middle;
}
.notice.formation .type img, .formation .notice .type img {
  width:50px;
  vertical-align:middle;
  padding-right: 6px;
}
.notice.formation .type h4, .formation .notice .type h4 {
  border: 2px solid #f46a05;
  padding : 4px;
  vertical-align: middle;
}

.suggest h4:first-child {
  font-size: 2.3rem;
}

.notice.laboratoire.petit .type img {
  width:24px;
  vertical-align:middle;
  padding-right: 6px;
}
.notice.laboratoire.petit .type h4 {
  border: 2px solid #0ac0a8;
  padding : 4px;
  vertical-align: middle;
}
.notice.formation.petit .type img {
  width:46px;
  vertical-align:middle;
  padding-right: 6px;
}
.notice.formation.petit .type h4 {
  border: 2px solid #f46a05;
  padding : 4px;
  vertical-align: middle;
}

.notice.petit h2 a {
  text-decoration: none;
}

.notice .motsclefs li {
  display: inline-block;

}

.notice .discover {
  background-color: #db0c27;
  font-family: "HKGroteskBold", sans-serif;
  text-decoration: none;
  color:white;
  padding:2px 4px;
}
