.error-input{
    color:red;
    border: 1px solid red !important;
}

.no-error-input{
    color:green;
    border: 1px solid green !important;
}

.error-message{
    /*visibility: hidden;*/
    color:red;
    border: 1px solid red !important;
}