{% extends "base.html.twig" %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <!--Import materialize.css-->
    <link rel="stylesheet"
          href="{{ asset('assets/vendor/materialize/dist/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/editeur.css') }}">
{% endblock %}

{% block body %}
    <section class="container">
        <div class="row">
            {% block fos_user_content %}{% endblock %}
        </div>
        <br>
    </section>
{% endblock %}

