{% import _self as formMacros %}

{% macro printMembreRow(membreForm) %}

    <div class="col s12 js-membre-item">
        <a href="" class="js-remove-membre right">
            <i class="material-icons black-text" >delete</i>
        </a>

        {{ form_errors(membreForm) }}
        {{ form_row(membreForm.nom, {'label' : "Nom"}) }}
        {{ form_row(membreForm.prenom, {'label' : "Prénom"}) }}
        {{ form_row(membreForm.genre, {'label' : "Genre (F ou M)"}) }}
        {{ form_row(membreForm.mail, {'attr' : {'class' : 'form-control', 'data-parsley-trigger' : 'change', 'label' : " Adresse email"}}) }}

    </div>

{% endmacro %}

{% macro printTagRow(tagForm) %}

    <div class="col s12 js-tag-item">
        <a href="" class="js-remove-tag right">
            <i class="material-icons black-text" >delete</i>
        </a>

        {{ form_errors(tagForm) }}
        {{ form_row(tagForm.nom) }}

    </div>

{% endmacro %}

{% macro printAxeRow(axeForm) %}

    <div class="col s12 js-axe-item">
        <a href="" class="js-remove-axe right">
            <i class="material-icons black-text" >delete</i>
        </a>

        {{ form_errors(axeForm) }}
        {{ form_row(axeForm.nom) }}

    </div>

{% endmacro %}

{% macro printEquipementRow(equipementForm) %}

    <div class="col s12 js-equipement-item">
        <a href="" class="js-remove-equipement right">
            <i class="material-icons black-text" >delete</i>
        </a>

        {{ form_errors(equipementForm) }}
        {{ form_row(equipementForm.nom, {'label' : "Equipement(s)"}) }}

    </div>

{% endmacro %}

<div class="row form">

    <div class="row">
        <div class="col s12 m6">

            {% if labo.checkGeneral %}
            <div class="cartouche_checked">
            {% else %}
            <div class="cartouche">
            {% endif %}

                <h3>Informations générales</h3>

                {{ form_row(edit_form.nom, {'label' : "Intitulé du laboratoire"}) }}
                {{ form_row(edit_form.sigle) }}
                {{ form_row(edit_form.type_thesaurus, {'label' : "Type"}) }}
                {{ form_row(edit_form.code) }}
                {{ form_row(edit_form.lien, {'label' : "Lien URL"}) }}

                {% if(localisations|length>1)  %}
                    {{ form_row(edit_form.localisation,  {'label' : "Lieu(x)"}) }}
                {% else %}
                    <div class="hide">
                        {{ form_row(edit_form.localisation) }}
                    </div>
                {% endif %}

                <h4>Equipement(s)</h4>

                <div class="row js-equipement-wrapper" data-prototype="{{ formMacros.printEquipementRow(edit_form.equipement.vars.prototype)|e('html_attr') }}" data-index="{{ edit_form.equipement|length }}">

                    {% for equipementForm  in edit_form.equipement  %}
                        {{ formMacros.printEquipementRow(equipementForm) }}
                    {% endfor %}

                    <div class="col s12">
                        <a href="#" class="js-add-equipement valign-wrapper col s12">
                            <i class="material-icons black-text ">add</i>
                            Ajouter un nouvel équipement
                        </a>
                    </div>
                </div>

                {# prevents weird label from showing up in new #}
                {{ form_widget(edit_form.equipement) }}

                {{ form_widget(edit_form.checkGeneral) }}
                {{ form_label(edit_form.checkGeneral) }}
                {{ form_errors(edit_form.checkGeneral) }}
                {#{{ form_row(edit_form.uai, { 'label' : 'UAI'}) }}#}

            </div>
        </div>

        <div class="col s12 m6">
            {% if labo.checkDescription %}
            <div class="cartouche_checked">
                {% else %}
                <div class="cartouche">
                    {% endif %}

                    <h3>Description</h3>
                    <!-- data-length="10" -->
                    {{ form_row(edit_form.description, { 'label' : "Description (2500 caractères max)" })}}
                    {#{{ form_row((edit_form.discipline)) }}#}
                    {{ form_row(edit_form.cnu) }}
                    {{ form_row(edit_form.hceres) }}
                    {{ form_row(edit_form.sise) }}

                    <h4>Mot(s) Clé(s)</h4>

                    <div class="row js-tag-wrapper" data-prototype="{{ formMacros.printTagRow(edit_form.tag.vars.prototype)|e('html_attr') }}" data-index="{{ edit_form.tag|length }}">

                        {% for tagForm  in edit_form.tag  %}
                            {{ formMacros.printTagRow(tagForm) }}
                        {% endfor %}

                        <div class="col s12">
                            <a href="#" class="js-add-tag valign-wrapper col s12">
                                <i class="material-icons black-text ">add</i>
                                Ajouter un nouveau mot clé
                            </a>
                        </div>
                    </div>

                    {# prevents weird label from showing up in new #}
                    {{ form_widget(edit_form.tag) }}


                    <h4>Axe(s)</h4>

                    <div class="row js-axe-wrapper" data-prototype="{{ formMacros.printAxeRow(edit_form.axes.vars.prototype)|e('html_attr') }}" data-index="{{ edit_form.axes|length }}">

                        {% for axeForm  in edit_form.axes  %}
                            {{ formMacros.printTagRow(axeForm) }}
                        {% endfor %}

                        <div class="col s12">
                            <a href="#" class="js-add-axe valign-wrapper col s12">
                                <i class="material-icons black-text ">add</i>
                                Ajouter un nouvel axe
                            </a>
                        </div>
                    </div>

                    {# prevents weird label from showing up in new #}
                    {{ form_widget(edit_form.axes) }}

                    {{ form_row(edit_form.theme) }}

                    {{ form_widget(edit_form.checkDescription) }}
                    {{ form_label(edit_form.checkDescription) }}
                    {{ form_errors(edit_form.checkDescription) }}

            </div>
        </div>

        <div class="col s12 m6">
        {% if labo.checkEtab %}
        <div class="cartouche_checked">
        {% else %}
        <div class="cartouche">
        {% endif %}

            <h3>Etablissement(s) de rattachement</h3>

            {{ form_row(edit_form.etablissement, {'label' : "Etablissement(s) Hesam"}) }}
            {{ form_row(edit_form.etabExt, { 'label' : 'Etablissement(s) hors Hesam'}) }}

            {{ form_widget(edit_form.checkEtab) }}
            {{ form_label(edit_form.checkEtab) }}
            {{ form_errors(edit_form.checkEtab) }}

            </div>
        </div>

        <div class="col s12 m6">

            {% if labo.checkContact %}
            <div class="cartouche_checked">
                {% else %}
                <div class="cartouche">
                    {% endif %}

                <h3>Contact(s)</h3>

                <div class="row js-membre-wrapper" data-prototype="{{ formMacros.printMembreRow(edit_form.membre.vars.prototype)|e('html_attr') }}" data-index="{{ edit_form.membre|length }}">

                    {% for membreForm  in edit_form.membre  %}
                        {{ formMacros.printMembreRow(membreForm) }}
                    {% endfor %}

                    <div class="col s12">
                        <a href="#" class="js-add-membre valign-wrapper col s12">
                            <i class="material-icons black-text ">add</i>
                            Ajouter un nouveau contact
                        </a>
                    </div>
                </div>

                {#{{ form_row(edit_form.responsable) }} #}{# mettre par ordre alphabétique #}
                {#{{ form_row(edit_form.mailcontact, { 'label' : 'Mail'}) }}#}
                    {# prevents weird label from showing up in new #}
                {{ form_widget(edit_form.membre) }}


                {{ form_widget(edit_form.checkContact) }}
                {{ form_label(edit_form.checkContact) }}
                {{ form_errors(edit_form.checkContact) }}
                <!-- Chercheurs du labo / mail -->

            </div>
        </div>


        <div class="col s12 m6">
            {% if labo.checkEffectifs %}
            <div class="cartouche_checked">
            {% else %}
            <div class="cartouche">
            {% endif %}

                <h3>Effectif(s) du laboratoire</h3>

                {{ form_row(edit_form.effectifHesam, { 'label' : 'Effectif Hesam '}) }}
                {{ form_row(edit_form.effectif, { 'label' : 'Effectif total du laboratoire (pour les UMR)'}) }}
                <!-- année -->

                {{ form_widget(edit_form.checkEffectifs) }}
                {{ form_label(edit_form.checkEffectifs) }}
                {{ form_errors(edit_form.checkEffectifs) }}

            </div>
        </div>





    </div>

</div>