{% extends 'editeur.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
    <h1>Edition d'un laboratoire - {{ labo.anneeCollecte }}</h1>


    {{ form_start(edit_form) }}
        {{ include('EditeurBundle:Labo:_form.html.twig') }}

        <div class="center">
            <input type="submit" value="Sauvegarder" class="btn btn-hesam" formnovalidate/>
    {{ form_end(edit_form) }}


        {% include "EditeurBundle:modals:_retour.html.twig" %}
        {{ form_start(delete_form) }}
        <button value="Supprimer" class="btn btn-hesam right ">Supprimer</button>
        {{ form_end(delete_form) }}
        </div>

        <div>
            <br><br><br>
        </div>
    </div>
{% endblock %}


{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/membreForm.js') }}"></script>
    <script src="{{ asset('js/tagForm.js') }}"></script>
    <script src="{{ asset('js/axeForm.js') }}"></script>
    <script src="{{ asset('js/equipementForm.js') }}"></script>
{% endblock %}
