{% extends 'editeur.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Créer un laboratoire - {{ year }}</h1>

        {{ form_start(edit_form) }}
            {{ include('EditeurBundle:Labo:_form.html.twig') }}

        <div class="center">
            <input type="submit" value="Créer"  class="btn btn-hesam" formnovalidate/>
        {{ form_end(edit_form) }}

        {% include "EditeurBundle:modals:_retour.html.twig" %}

        </div>
    </section>
{% endblock %}

{%  block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/membreForm.js') }}"></script>
    <script src="{{ asset('js/tagForm.js') }}"></script>
    <script src="{{ asset('js/axeForm.js') }}"></script>
    <script src="{{ asset('js/equipementForm.js') }}"></script>
{% endblock %}