{% extends 'base.html.twig' %}

{% block body %}

<div class="container notice formation">
    <div class="row background">
    <div class="col m8">
      <div class="type"><img src="/img/formation.svg" alt="Formation"><h4>Formation</h4></div>
      <h1>{{formation.nom}}</h1>
            {% for etablissement in formation.etablissement %}
            <h2><a href="/etablissement/{{etablissement.etablissementId}}">{{etablissement.nom}}</a></h2>
      {% endfor %}

    </div>
      <div class="col m4 infos">
        <h4>+ d'infos</h4>
        <ul>
          {% if formation.niveauThesaurus %}
          <li>Niveau: {{formation.niveauThesaurus}}</li>
          {% endif %}
          {% if formation.typediplomeThesaurus %}
          <li>Type de diplome : {{formation.typediplomeThesaurus}}</li>
          {% endif %}
          {% if formation.lmd %}
          <li>Parcours LMD : {{formation.lmd}}</li>
          {% endif %}
          {% if formation.ects %}
          <li>Crédits ECTS : {{formation.ects}}</li>
          {% endif %}
          {% if formation.anneeCollecte %}
          <li>Année de collecte : {{formation.anneeCollecte}}</li>
          {% endif %}
          {% if formation.objetId %}
<!--           <li>Code : {{formation.objetId}}</li>
 -->      {% endif %}
          {% if formation.membre %}
              Contact :
              {% for item in formation.membre %}
                  {{ item.prenom }} {{ item.nom }} {% if item.mail %}({{ item.mail }}){% endif %}
                  {% if loop.last %}{% else %},{% endif %}
              {% endfor %}
          {% endif %}

        </ul>
      </div>

      <div class="col m12">

      {% if formation.description|length > 0 %}
          <p>{{ formation.description }}</p>
      {% endif %}
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('editeur_formation_edit', { id : formation.id }) }}"><i class="material-icons">mode_edit</i>Modifier les données</a>
      {% endif %}

      <!-- DISCIPLINE -->
      {% if hesamettes %}
      <section>
      <h5><i class="material-icons dp48">label</i> Disciplines</h5>
	    <ul class="list-thematique" >
				{% for hesamette in hesamettes %}
					<li>{{hesamette.nom}}</li>
				{% endfor %}
	    </ul>
      </section>
      {% endif %}
      <!-- END DISCIPLINE -->

      {% if formation.cnu|length > 0 %}
      <h5><i class="material-icons dp48">label</i> Disciplines CNU</h5>
      <ul>
      {% for discipline in formation.cnu %}
          <li>{{discipline.nom}}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if formation.hceres|length > 0 %}
      <h5><i class="material-icons dp48">label</i> Disciplines HCERES</h5>
      <ul>
      {% for discipline in formation.hceres %}
          <li>{{discipline.nom}}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if formation.sise|length > 0 %}
      <h5><i class="material-icons dp48">label</i> Disciplines SISE</h5>
      <ul>
      {% for discipline in formation.sise %}
          <li>{{discipline.nom}}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if formation.tag | length > 0 %}
      <section class="motsclefs">
      <h5><i class="material-icons dp48">label</i> Mots clés</h5>
      <ul class="list-thematique" >
          {% for tag in formation.tag %}
              <li>{{tag.nom}} | </li>
          {% endfor %}
      </ul>
      </section>
      {% endif %}

      {% if formation.metier | length > 0 %}
      <section>
      <h5><i class="material-icons dp48">label</i> Fiches Métiers ROME</h5>
      <ul>
          {% for tag in formation.metier %}
              <li>{{tag.nom}}</li>
          {% endfor %}
      </ul>
      </section>
      {% endif %}

      {% if formation.url %}
      <section>
      <h5><i class="material-icons dp48">label</i> Page web de la formation</h5>
      <p>
      <a href="{{formation.url}}" target="_blank">{{formation.url}}</a>
      </p>
      </section>
      {% endif %}

      {% if formation.lien2 %}
      <section>
      <h5><i class="material-icons dp48">label</i> Autres sites web de la formation</h5>
      <a href="{{formation.lien2}}" target="_blank">{{formation.lien2}}</a>
      <a href="{{formation.lien3}}" target="_blank">{{formation.lien3}}</a>
      </section>
      {% endif %}

      {% if formation.localisation | length > 0 %}
      <section class="adresse">
      <h5><i class="material-icons dp48">label</i> Adresse</h5>
      {% for loca in formation.localisation %}
      {% if loca.nom %}
      <p>{{loca.nom}}</p>
      {% endif %}
      {% if loca.adresse %}
      <p>{{loca.adresse}}</p>
      {% endif %}
      {% if loca.ville %}
      <p>{{loca.ville}}</p>
      {% endif %}
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{loca.adresse}},{{loca.ville}},{{loca.code}}&zoom=14&size=950x250&maptype=roadmap&markers={{loca.ville}},{{loca.code}}" alt="Carte réalisée avec Google Static Maps API" class="responsive-img" />
      {% endfor %}
      </section>
      {% endif %}

      {% if formation.effectif %}
      <section>
      <h5><i class="material-icons dp48">label</i>Nombre d'aprenants<h5>
      <p>{{formation.effectif}}</p>
      </section>
      {% endif %}
      </div>
</div>

    <section id="suggest">
        <div >
            <div class="suggest row">
            <h4>Voir aussi...</h4>
                {% for labo in rebonds_labo %}
                    <div class="col m4 l4">
                        <div class="laboratoire notice petit" >
                          <div class="type"><img src="/img/labo.svg" alt="labo"><h4>Laboratoire</h4></div>
                          <h2><a href="{{ path('labo' ,{"id" : labo.id}) }}">{{labo.nom}}</a></h2>
                          {% for etablissement in labo.etablissement %}
                            <h3>{{etablissement.nom}}</h3>
                          {% endfor %}
                          {% if hesamettes %}
                          <h5><i class="material-icons dp48">label</i>Disciplines</h5>
                          <ul class="list-thematique" >
                            {% for hesamette in hesamettes %}
                              <li>{{hesamette.nom}}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                          <a class="discover" href="{{ path('labo' ,{"id" : labo.id}) }}">+ Découvrir le laboratoire</a>
                        </div>
                    </div>
                {% endfor %}

                {% for formation in rebonds_formation  %}
                    <div class="col m4 l4">
                        <div class="formation notice petit" >
                            <div class="type"><img src="/img/formation.svg" alt="labo"><h4>Formation</h4></div>
                            <h2><a href="{{ path('formation' , {"id" : formation.id}) }}">{{formation.nom}}</a></h2>
                               {% for etablissement in formation.etablissement %}
                            <h3>{{etablissement.nom}}</h3>
                          {% endfor %}
                          {% if hesamettes %}
                          <h5><i class="material-icons dp48">label</i>Disciplines</h5>
                          <ul class="list-thematique" >
                            {% for hesamette in hesamettes %}
                              <li>{{hesamette.nom}}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                          <a class="discover" href="{{ path('formation' ,{"id" : formation.id}) }}">+ Découvrir la formation</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>




{% endblock %}
