{% extends 'base.html.twig' %}

{% block body %}

<div class="container notice laboratoire">
  <div class="row background">
    <div class="col m8">
      <div class="type"><img src="/img/labo.svg" alt="labo"><h4>Laboratoire</h4></div>


      <h1>{{labo.nom}}</h1>

      {% for etablissement in labo.etablissement %}
        <h2><a href="/etablissement/{{etablissement.etablissementId}}">{{etablissement.nom}}</a></h2>
      {% endfor %}
    </div>
    <div class="col m4 infos">
        <h4>+ d'infos</h4>
        <ul>
          {% if labo.typeThesaurus %}
          <li><span>Label de l'unité :</span>{{labo.type}} {{labo.code}}</li>
          {% endif %}
          {% if labo.sigle %}
          <li><span>Sigle :</span> {{labo.sigle}}</li>
          {% endif %}
          {% if labo.objetId %}
         <!--  <li><span>Code :</span> {{labo.objetId}}</li> -->
          {% endif %}
          {% if labo.uai %}
<!--           <li><span>Code UAI :</span> {{labo.uai}}</li>
 -->          {% endif %}
          {% if labo.anneeCollecte %}
          <li><span>Année de collecte :</span> {{labo.anneeCollecte}}</li>
          {% endif %}
          {% if labo.etabExt %}
          <li><span>Etablissement extérieur :</span> {{labo.etabExt}}</li>
          {% endif %}
        </ul>
      </div>
    <div class="col m12">

      {% if labo.description|length > 0 %}
          <p>{{ labo.description }}</p>
      {% endif %}
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <a href="{{ path('editeur_laboratoire_edit', { id : labo.id }) }}"><i class="material-icons">mode_edit</i>Modifier les données</a>
      {% endif %}

      <!-- DISCIPLINE -->
      <section>
      {% if hesamettes %}
      <h5><i class="material-icons dp48">label</i>Disciplines</h5>
	    <ul class="list-thematique" >
				{% for hesamette in hesamettes %}
					<li>{{hesamette.nom}}</li>
				{% endfor %}
	    </ul>
      {% endif %}
      </section>
      <!-- END DISCIPLINE -->

      {% if labo.cnu|length > 0 %}
      <h5><i class="material-icons dp48">label</i> Disciplines CNU</h5>
      <ul>
      {% for discipline in labo.cnu %}
          <li>{{discipline.nom}}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if labo.hceres|length > 0 %}
      <h5><i class="material-icons dp48">label</i> Disciplines HCERES</h5>
      <ul>
      {% for discipline in labo.hceres %}
          <li>{{discipline.nom}}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if labo.sise|length > 0 %}
      <ul>
      <h5><i class="material-icons dp48">label</i> Disciplines SISE</h5>
      {% for discipline in labo.sise %}
          <li>{{discipline.nom}}</li>
      {% endfor %}
      </ul>
      {% endif %}

      {% if labo.tag | length > 0 %}
      <section class="motsclefs">
      <h5><i class="material-icons dp48">label</i> Mots clés</h5>
      <ul class="list-thematique" >
          {% for tag in labo.tag %}
              <li>{{tag.nom}} | </li>
          {% endfor %}
      </ul>
      </section>
      {% endif %}

      {% if labo.lien %}
      <section>
      <h5><i class="material-icons dp48">label</i> Page web du laboratoire</h5>
      <p>
      <a href="{{labo.lien}}" target="_blank">{{labo.lien}}</a></p>
      </section>
      {% endif %}

      {% if labo.lien2 %}
      <section>
      <h5><i class="material-icons dp48">label</i> Autres sites web de la labo</h5>
      <p>
      <a href="{{labo.lien2}}" target="_blank">{{labo.lien2}}</a></p>
      <p>
      <a href="{{labo.lien3}}" target="_blank">{{labo.lien3}}</a></p>
      </section>
      {% endif %}

      {% if labo.localisation | length > 0 %}
      <section class="adresse">
      <h5><i class="material-icons dp48">label</i> Adresse</h5>
      {% for loca in labo.localisation %}
      {% if loca.nom %}
      <p>{{loca.nom}}</p>
      {% endif %}
      {% if loca.adresse %}
      <p>{{loca.adresse}}</p>
      {% endif %}
      {% if loca.ville %}
      <p>{{loca.code}} - {{loca.ville}}</p>
      {% endif %}
      <img src="https://maps.googleapis.com/maps/api/staticmap?center={{loca.ville}},{{loca.code}}&zoom=14&size=950x250&maptype=roadmap&markers={{loca.ville}},{{loca.code}}" alt="Carte réalisée avec Google Static Maps API" class="responsive-img" />
      {% endfor %}
      </section>
      {% endif %}

      {% if labo.mailcontact %}
      <section>
      <h5><i class="material-icons dp48">label</i> Contact</h5>
      <p>{{labo.mailcontact}}</p>
      </section>
      {% endif %}
      </div>
  </div>
</div>

    <section id="suggest">
        <div class="container">
            <div class="suggest row">
            <h4>Voir aussi...</h4>
                {% for labo in rebonds_labo %}
                    <div class="col m4 l4">
                        <div class="laboratoire notice petit" >
                          <div class="type"><img src="/img/labo.svg" alt="labo"><h4>Laboratoire</h4></div>
                          <h2><a href="{{ path('labo' ,{"id" : labo.id}) }}">{{labo.nom}}</a></h2>
                          {% for etablissement in labo.etablissement %}
                            <h3>{{etablissement.nom}}</h3>
                          {% endfor %}
                          {% if hesamettes %}
                          <h5><i class="material-icons dp48">label</i>Disciplines</h5>
                          <ul class="list-thematique" >
                            {% for hesamette in hesamettes %}
                              <li>{{hesamette.nom}}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                          <a class="discover" href="{{ path('labo' ,{"id" : labo.id}) }}">+ Découvrir le laboratoire</a>
                        </div>
                    </div>
                {% endfor %}

                {% for formation in rebonds_formation  %}
                    <div class="col m4 l4">
                        <div class="formation notice petit" >
                            <div class="type"><img src="/img/formation.svg" alt="labo"><h4>Formation</h4></div>
                            <h2><a href="{{ path('formation' , {"id" : formation.id}) }}">{{formation.nom}}</a></h2>
                               {% for etablissement in formation.etablissement %}
                            <h3>{{etablissement.nom}}</h3>
                          {% endfor %}
                          {% if hesamettes %}
                          <h5><i class="material-icons dp48">label</i>Disciplines</h5>
                          <ul class="list-thematique" >
                            {% for hesamette in hesamettes %}
                              <li>{{hesamette.nom}}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                          <a class="discover" href="{{ path('formation' ,{"id" : formation.id}) }}">+ Découvrir la formation</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>




{% endblock %}
