{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset("css/accueil.css") }}">
{% endblock %}

{% block fos_user_content %}{% endblock %}

{% block body %}
<div class="accueil">
<section class="recherche-home">
    <div class="wrapper">
        <div class="container">
            <div class="row rechercher-wrapper">
                <div class="col m12 titre">
                   <a href="http://www.hesam.eu/" target="_blank">
                    <img src="img/hesam-logo.svg" class="responsive-img" id="mainLogo" alt="Logo HESAM Université">
                    </a>
                    <h1>Cartographie des formations et de la recherche</h1>

                </div>
                <div class="col offset-m1 m12 offset-s1 s11" id="recherche">
                    <form action="search" method="get">
                        <input type="text" name="q" placeholder="Exemples : Sociologie, urbanisme, industrie, microscope ">
                        <button class="btn btn-hesam red-hesam btn-floating waves-light" type="submit"><i class="material-icons">search</i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="chiffres-home container">
    <ul class="row">
        <li class="col offset-l1 l3 s12"><span>{{ stats['nb_laboratoires']['nb'] }}</span>Laboratoires</li>
        <li class="col l3 s12"><span>{{  stats['nb_formations']['nb'] }}</span>Formations</li>
        <li class="col l3 s12"><span>{{ stats['nb_eds']['nb'] }}</span>Ecoles doctorales</li>
    </ul>
</section>
<section class="presentation-home">
    <div class="container row">
        <p class="col s12">
            HESAM Université rassemble {{ stats['nb_formations']['nb'] }} formations, du bac+1 au doctorat, en formation initiale ou continue, {{  stats['nb_laboratoires']['nb'] }} laboratoires pluridisciplinaires en sciences humaines et sociales, en sciences de l'environnement et en sciences et techniques de l'ingénieur et {{ stats['nb_eds']['nb'] }} écoles doctorales.
        </p>
        <div class="col anr s8">
            <p>
                Le projet a bénéficié du soutien de l'AMI 2016 sur la transformation pédagogique et numérique.
            </p>
        </div>
        <div class="col s4">
            <img src="img/MESRIlogo_vert.jpg" class="responsive-img" width="100px" alt="Logo ANR">
        </div>
    </div>
</section>
<section class="rubrique-home">
    <div class="container">
        <div class="row">
            <p class="col s12">Il est possible de faire la recherche parmi les quinze thématiques HESAM et les disciplines qui leurs sont associées :</p>

            <ul class="col s6">
                {% for item in hesamettes | slice(0,7) %}
                    <li><a href="search/?hesamette[0]={{ item.nom }}">{{ item.nom }}</a></li>
                {% endfor %}
            </ul>

            <ul class="col s6">
                {% for item in hesamettes | slice(7,8) %}
                    <li><a href="search/?hesamette[0]={{ item.nom }}">{{ item.nom }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>
</section>
<section class='etablissements-home container'>
    <div class="row">
        <h2>Établissements </h2>
        <ul>
            <li class='col s3'><a href="/etablissement/1"><img class="responsive-img" src="{{ asset('img/logos/cnam-logo.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/12"><img class="responsive-img" src="{{ asset('img/logos/cnrs.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/10"><img class="responsive-img" src="{{ asset('img/logos/ensam.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/7"><img class="responsive-img" src="{{ asset('img/logos/inp.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="{{ asset('img/logos/cesi.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/17"><img class="responsive-img" src="{{ asset('img/logos/cfj.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/11"><img class="responsive-img" src="{{ asset('img/logos/ensaplv.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/15"><img class="responsive-img" src="{{  asset('img/logos/ifm.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/8"><img class="responsive-img" src="{{  asset('img/logos/inha.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="{{  asset('img/logos/louvre.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/9"><img class="responsive-img" src="{{  asset('img/logos/ensci.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="/etablissement/18"><img class="responsive-img" src="{{  asset('img/logos/boule.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="{{  asset('img/logos/clusters.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="{{  asset('img/logos/ensaama.png') }}" alt="Logo Cnam"/></a></li>
            <li class='col s3'><a href="#"><img class="responsive-img" src="{{  asset('img/logos/fnep.png') }}" alt="Logo Cnam"/></a></li>
        </ul>
    </div>
</section>
</div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>

    function accueil(){
      $("body").hide();
      $("body").fadeIn(1500);

      $("#mainLogo").hide();
      $("#mainLogo").fadeIn(1000);

      $("#soustitre").hide();
      $("#soustitre").delay(300).fadeIn(1000);

      $("#recherche").hide();
      $("#recherche").delay(600).fadeIn(1000);

      $("#help-box").hide();
      $("#help-box").delay(900).fadeIn(1000);

      $("footer").hide();
      $("footer").delay(1500).fadeIn(1000);
    }

  //  accueil();

    $("#chercher-general").click(
            function(){
              $("#general").hide();
              $("#domaines").fadeIn(1000);
            }
    );

    $("#chercher-domaines").click(
            function(){
              $("#domaines").hide();
              $("#methode").fadeIn(1000);
            }
    );

    $("#chercher-methode").click(
            function(){
              $("#methode").hide();
              $("#general").fadeIn(1000);
            }
    );
  </script>
{% endblock %}
