{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .intertitre{
            font-size: 2em;
            margin-top : 15px;
        }
        .intertitre p {
          margin-bottom: 5px;
        }

        .number{
            font-size:1.3em;
            font-weight: bold;
        }


        h2{
            /* padding-top: 30px; */
        }

        #labo-etab .nvd3.nv-legend {
          display: none;
        }
        #labo-etab .nv-legendWrap  {
          display: none;
        }

    </style>
{% endblock %}

{% block fos_user_content %}{% endblock %}

{% block body %}
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Visualisation des compétences d'HESAM Université</h1>
        <div class="row center">
          <h5 class="header col s12 light" style="color:white;"></h5>
        </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/louvres.jpg" alt="Unsplashed background img 1"></div>
  </div>

    <!-- Intro -->

    <div class='container'>
        <div class="intertitre">
            <p class="col s12">HESAM Université rassemble <span class="number">{{formations|length}}</span> formations, du bac+1 au doctorat, en formation initiale ou continue, <span class="number">{{ labos|length }}</span> laboratoires pluridisciplinaires en sciences humaines et sociales, en sciences de l'environnement et en sciences et techniques de l'ingénieur et <span class="number">{{ eds|length }}</span> écoles doctorales.</p>
        </div>

          <br>
        <div class="row">
            <div class="col s12 m4">
              <div class="card teal">
                    <a href="#formations" class="modal-trigger">
                        <div class="card-content white-text center-align">
                        <i class="large material-icons">view_module</i>
                        <p class="center-align number">{{formations|length}}</p>
                        <p class="center-align number-label">
                            Formations
                        </p>
                        </div>
                    </a>
              </div>
            </div>
            <div class="col s12 m4">
              <div class="card cyan">
                    <a href="#laboratoires" class="modal-trigger">
                        <div class="card-content white-text center-align">
                        <i class="large material-icons">view_module</i>
                        <p class="center-align number">{{ labos|length }}</p>
                        <p class="center-align number-label">
                            Laboratoires
                        </p>
                        </div>
                    </a>
              </div>
            </div>

            <div class="col s12 m4">
              <div class="card amber accent-2">
                    <a href="#ecoles" class="modal-trigger">
                        <div class="card-content white-text center-align">
                        <i class="large material-icons">view_module</i>
                        <p class="center-align number">{{ eds|length }}</p>
                        <p class="center-align number-label">
                            Ecoles doctorales
                        </p>
                        </div>
                    </a>
              </div>
            </div>
        </div>
    </div>

    <!-- Fin intro -->

    <!-- Les publics -->

    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br><br>
                <h1 class="header center" style="color:white;">Les publics</h1>
                <div class="row center">
                    <h5 class="header col s12 light" style="color:white;"></h5>
                </div>
                <div class="row center">
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img src="img/pantheon.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <section class="container">


        <!-- <div class="intertitre row">
            <p>Avec <span class="number">{{nbEtud|number_format(0, '', ' ')}}</span> étudiants et auditeurs, notre communauté est classée parmi les premières communautés d'Ile de France en nombre d'apprenants.</p>
        </div> -->


        <article>
            <h2>Dans quels établissements se trouvent les étudiants ?</h2>
            {#<h2>Répartition des étudiants par établissement</h2>#}

            <div class="intertitre">

                <p>La majeure partie des étudiants et des auditeurs sont inscrits au CNAM. Les autres établissements attirent néanmoins un grand nombre d'étudiants par leurs formations spécialisées.</p>
            </div>

            <div id="etud-stat">
              <svg style="height:500px;"></svg>
            </div>
        </article>

        <article>
            <h2>Dans quels établissements se trouvent les enseignants et chercheurs ?</h2>

            <div class="intertitre">

                <p>Les enseignants et les chercheurs appartiennent à différents corps de métiers. Ce graphique donne une première idée de leur réparition au sein des établissements de notre communauté.</p>
            </div>

            <div id="chercheur-stat">
              <svg style="height:400px;"></svg>
            </div>
        </article>
     </section>

    <!-- Fin les publics -->

    <!-- Les formations -->

    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">Les formations</h1>
        <div class="row center">
        </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/sorbonne.jpg" alt="Unsplashed background img 1"></div>
    </div>

    <div class="container">

        <article>
            <h2>Les formations par niveau</h2>
            <div class="intertitre">
                <p>HESAM Université propose des formations de tous niveaux : LMD (licence, master, doctorat) ou hors LMD (Bac+ n). Les masters en représentent une grande part. A noter qu'il existe aussi plus d'une trentaine de formations en doctorat.</p>
            </div>
            <div id="formation-niveau"><svg style="height:400px;"></svg></div>
        </article>

        <article>
            <h2>Les formations par établissement</h2>

            <div class="intertitre">
                <p>Par <i>formation</i>, nous entendons une année complète d'étude : L1 ou L2 ou L3, etc. pour bien prendre en compte la diversité et la richesse des parcours à chaque niveau.</p>

            </div>

            <div id="forma-etab">
              <svg style="height:500px;"></svg>
            </div>
        </article>


        <article>
            <h2>Les formations par thématique</h2>

            <div class="intertitre">
                <p>L'offre d'HESAM Université couvre l'intégralité des quinze domaines disciplinaires du Haut Conseil de l'Evaluation de la Recherche et de l'Enseignement Supérieur (HCERES).</p>
            </div>

            <div id="form-hesamette">
                <svg style="height:500px;"></svg>
            </div>
        </article>
<!--
        <article>
            <h2>Les formations par institut</h2>

            <div class="intertitre">
                <p>Les instituts sont les creusets interdisciplinaires de l'activité scientifique d'HESAM alliant la formation et la recherche. La visualisation ci-dessous présente la structuration de la formation.</p>
            </div>

            <div id="form-nw3">
              <svg style="height:500px;"></svg>
            </div>
        </article> -->


    </div><!-- fin container -->

<!-- Les laboratoires -->
    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center" style="color:white;">La recherche</h1>
        <div class="row center">
          {#<h5 class="header col s12 light" style="color:white;">La base contient actuellement {{labos|length}} laboratoires</h5>#}
 </div>
        <div class="row center">
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="img/labo.jpg" alt="Unsplashed background img 1"></div>
  </div>


 <div class="container">


    <div class="row">
        <article>
            <h2>Les laboratoires de recherche par établissement</h2>

            <div class="intertitre">
                <p>Organismes, écoles et universités : tous les membres d'HESAM animent des laboratoires de recherche.</p>
            </div>

            <div id="labo-etab">
              <svg style="height:500px;"></svg>
            </div>

        </article>
    </div>


     <div class="row">
         <article>
             <h2>Les laboratoires de recherche par thématique</h2>

             <div class="intertitre">
                 <p>Comme pour la formation, la recherche à HESAM couvre les quinze domaines disciplinaires du Haut Conseil de l'Evaluation de la Recherche et de l'Enseignement Supérieur (HCERES).</p>
             </div>

             <div id="labo-hesamette">
                 <svg style="height:500px;"></svg>
             </div>
         </article>

     </div>

    <!-- <div class="row">
      <article>
        <h2>Les laboratoires de recherche par institut</h2>

          <div class="intertitre">

              <p>Les activités interdisciplinaires des sept instituts d'HESAM mobilisent les laboratoires.</p>
          </div>

        <div id="labo-nw3">
          <svg style="height:500px;"></svg>
        </div>
      </article>
    </div> -->


    <div class="row">
      <article>
          <h2>La typologie des laboratoires</h2>

          <div class="intertitre">

              <p>Il est classique de distinguer les Equipes d'Accueil (EA), les Unités Mixtes de Recherche (UMR), les Unités Mixtes de Service (UMS), les Unités de Service et de Recherche (USR) et les autres Unités de Recherche (UR).</p>
          </div>

          <div id="labo-type">
              <svg style="height:500px;"></svg>
          </div>
      </article>
    </div>

 </div>

    {% endblock %}


    {% block  javascripts %}

        {{ parent() }}


        <!-- Materialize -->

        <script type="text/javascript" src="{{ asset('assets/vendor/materialize/js/parallax.js') }}"></script>


        <!-- D3.JS -->
        <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/nvd3/build/nv.d3.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('/assets/vendor/nvd3/build/nv.d3.css')}}">
        <!-- END D3.JS -->

        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script>
          (function($){
            $(function(){
              $('.parallax').parallax();
            }); // end of document ready
          })(jQuery); // end of jQuery name space
        </script>

        <script type="text/javascript">


          //Regular pie chart example
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .valueFormat(d3.format(".2s"))
                .showLabels(true);

              d3.select("#formation-niveau3 svg")
                  .datum(formationData())
                  .transition().duration(350)
                  .call(chart);

            return chart;
          });

          //Donut chart example
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))
                ;
              d3.select("#formation-niveau svg")
                  .datum(formationData())
                  .transition().duration(350)
                  .call(chart);

            return chart;
          });

          //Donut chart example
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))
                ;
              d3.select("#chercheur-stat svg")
                  .datum(chercheursData ())
                  .transition().duration(350)
                  .call(chart);

            return chart;
          });


          //Donut chart example
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))
                ;
                chart.legend.width(800);
                chart.legend.maxKeyLength = 500;
                //chart.yAxis.tickPadding(25);
                //chart.xAxis.tickPadding(25);
            chart.legend.margin({top: 50, right:0, left:0, bottom: 0});
              d3.select("#etud-stat svg")
                  .datum(etudData ())
                  .transition().duration(350)
                  .call(chart);




          //  nv.models.legend().width(600);
            console.log(nv.models.legend().width());
            return chart;

          });

          //Répartition du nombre de formations par établissements
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))
                ;
              d3.select("#forma-etab svg")
                  .datum(formaEtabData ())
                  .transition().duration(350)
                  .call(chart);

            return chart;
          });

          //Répartition du nombre de labo par établissements
          // nv.addGraph(function() {
          //   var chart = nv.models.discreteBarChart()
          //       .x(function(d) { return d.label })
          //       .y(function(d) { return d.value })
          //       .showLabels(true)     //Display pie labels
          //       .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
          //       .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
          //       .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
          //       .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
          //       ;
          //     d3.select("#labo-etab svg")
          //         .datum(laboEtabData ())
          //         .transition().duration(350)
          //         .call(chart);
          //
          //   return chart;
          // });
          nv.addGraph(function() {
            var chart = nv.models.multiBarHorizontalChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .valueFormat(d3.format(".2s"));

                chart.margin({ top: 30, right: 20, bottom: 50, left: 450 });


              d3.select("#labo-etab svg")
                  .datum(laboEtabData())
                  .transition().duration(350)
                  .call(chart);

            chart.legend.margin({top: 5, right: 0, bottom: 50, left: 0});


            return chart;
          }
        );


            //Colonnes pour les disciplines les plus populaires
            nv.addGraph(function() {
            var chart = nv.models.discreteBarChart()
                .x(function(d) { return d.label;})    //Specify the data accessors.
                .y(function(d) { return d.value })
                .valueFormat(d3.format(".2s"))

                .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
               // .tooltips(false)        //Don't show tooltips

                ;
            d3.select('#formationTopDiscipline svg')
                .datum(formationTopDisciplineData ())
                .call(chart);
            nv.utils.windowResize(chart.update);
            return chart;
          });


          //Répartition des disciplines NW3 pour les formations
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))

                ;
              d3.select("#form-nw3 svg")
                  .datum(allNw3DisciplinesFormationsData ())
                  .transition().duration(350)
                  .call(chart);
            return chart;
          });


          //Répartition des disciplines NW3 pour les labos
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))

                ;
              d3.select("#labo-nw3 svg")
                  .datum(allNw3DisciplinesLabosData ())
                  .transition().duration(350)
                  .call(chart);

            return chart;
          });

          //Répartition des types (EA, etc.) pour les labos
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))

                ;
              d3.select("#labo-type svg")
                  .datum(nbTypeLabosData ())
                  .transition().duration(350)
                  .call(chart);

            return chart;
          });


          //Répartition des hesamettes pour les labos
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))

                ;
              d3.select("#labo-hesamette svg")
                  .datum(nbLaboParHesametteData ())
                  .transition().duration(350)
                  .call(chart);

            return chart;
          });

          //Répartition des hesamettes pour les formations
          nv.addGraph(function() {
            var chart = nv.models.pieChart()
                .x(function(d) { return d.label })
                .y(function(d) { return d.value })
                .showLabels(true)     //Display pie labels
                .labelThreshold(.05)  //Configure the minimum slice size for labels to show up
                .labelType("percent") //Configure what type of data to show in the label. Can be "key", "value" or "percent"
                .donut(true)          //Turn on Donut mode. Makes pie chart look tasty!
                .donutRatio(0.35)     //Configure how big you want the donut hole size to be.
                .legendPosition("right")
                .valueFormat(d3.format(".2s"))

                ;
              d3.select("#form-hesamette svg")
                  .datum(nbFormParHesametteData ())
                  .transition().duration(350)
                  .call(chart);

            return chart;
          });



          // nv.addGraph(function() {
          //   var chart = nv.models.discreteBarChart()
          //       .x(function(d) { return d.label })    //Specify the data accessors.
          //       .y(function(d) { return d.value })
          //       .staggerLabels(true)    //Too many bars and not enough room? Try staggering labels.
          //       .tooltips(false)        //Don't show tooltips
          //       .showValues(true)       //...instead, show the bar value right on top of each bar.
          //       .transitionDuration(350)
          //       ;
          //   d3.select('#formation-niveau2 svg')
          //       .datum(formationData())
          //       .call(chart);
          //   nv.utils.windowResize(chart.update);
          //   return chart;
          // });



    //Pie chart example data. Note how there is only a single array of key-value pairs.
    function formationData() {
      return  [
          {% for nbFormation in nbFormationsNiveau|sort %}
            {% if nbFormation.nb != 0 %}
              {"label" : "{{nbFormation.niveau}}",
              "value" : "{{nbFormation.nb}}"},
            {% endif %}
          {% endfor %}
        ];
    }

    function chercheursData() {
      return  [
          {% for etab in etabs|sort %}
              {% if etab.chercheurs != 0 %}
              {"label" : "{{etab.sigle|escape('js')}}",
              "value" : "{{etab.chercheurs}}"},
              {% endif %}
          {% endfor %}
        ];
      }

      function etudData() {
      return  [
          {% for etab in etabs|sort %}
            {% if etab.etudiants != 0 %}
              {"label" : "{{etab.sigle|escape('js')}}",
              "value" : "{{etab.etudiants}}"},
            {% endif %}
          {% endfor %}
        ];
      }

      //Nombre de formations par établissements
      function formaEtabData() {
      return  [
           {% for etab in etabs %}
             {% if etab.formation|length != 0 %}
              {"label" : "{{etab.sigle|escape('js')}}",
              "value" : "{{etab.formation|length}}"},
              {% endif %}
          {% endfor %}
        ];
      }

      //Nombre de labo par établissements
      function laboEtabData() {
      return  [
        {
          key: "Cumulative Return",
          values: [
           {% for etab in etabs %}
             {% if etab.labo|length != 0 %}
              {"label" : "{{etab.sigle|escape('js')}}",
              "value" : {{etab.labo|length}}},
              {% endif %}
          {% endfor %}
          ]
        }
        ];
      }


      //20 disciplines les plus populaires
      function formationTopDisciplineData() {
      return  [
           {% for discipline in allDisciplinesFormations %}
             {% if discipline.item.formation|length != 0 %}
              {"label" : "{{discipline.item.nom|escape('js')}}",
              "value" : "{{discipline.item.formation|length}}"},
              {% endif %}
          {% endfor %}
        ];
      }

      //Répartition des NW3 par formation
      function allNw3DisciplinesFormationsData() {
        return [
            {% for discipline in allNw3DisciplinesFormations %}
              {% if discipline.nb != 0 %}
              {"label" : "{{discipline.item.nom|escape('js')}}",
              "value" : "{{discipline.nb}}" },
              {% endif %}
            {% endfor %}
        ];
      }

      //Répartition des NW3 par labo
      function allNw3DisciplinesLabosData() {
        return [
            {% for discipline in allNw3DisciplinesLabos %}
              {% if discipline.nb != 0 %}
              {"label" : "{{discipline.item.nom|escape('js')}}",
              "value" : "{{discipline.nb}}" },
              {% endif %}
            {% endfor %}
        ];
      }


      //Répartition des types de labo
      function nbTypeLabosData() {
        return [
            {% for labo in nbTypeLabos %}
              {% if labo.nb != 0 %}
              {"label" : "{{labo.type|escape('js')}}",
              "value" : "{{labo.nb}}" },
              {% endif %}
            {% endfor %}
        ];
      }


      //Répartition des labos par hesamettes
      function nbLaboParHesametteData() {
        return [
            {% for hesamette in labosHesamette %}
              {% if hesamette.nb != 0 %}
              { "label" :"{{hesamette.hesamette|escape('js')}}",
              "value" : "{{hesamette.nb}}" },
              {% endif %}
            {% endfor %}
        ];
      }

      //Répartition des formations par hesamettes
      function nbFormParHesametteData() {
        return [
            {% for hesamette in formationsHesamette %}
            {% if hesamette.nb != 0 %}
              { "label" :"{{hesamette.hesamette|escape('js')}}",
              "value" : "{{hesamette.nb}}" },
            {% endif %}
            {% endfor %}
        ];
      }


        </script>

        <script>
        $(document).ready(function(){
          $('.parallax').parallax();
        });
        </script>


{% endblock %}
