<div class="row form">

    <div class="col s12 m12">
        <div class="cartouche">

            <h3>Informations générales</h3>
            {{form_row(form.nom,{
                'label' : "Nom de l'école doctoral"
            }) }}
            {{form_row(form.code) }}
            {{form_row(form.nom) }}
            {{form_row(form.lien) }}
            {{ form_row(form.laboExt, { 'label' : 'Laboratoire(s) hors Hesam'}) }}
            {{ form_row(form.etabExt, { 'label' : 'Etablissement(s) hors Hesam'}) }}
            {{form_row(form.contact) }}
            {{form_row(form.effectif) }}
            {{form_row(form.membre) }}
            {{form_row(form.labo) }}
            {{ form_row(form.etablissement, {'label' : "Etablissement(s)"}) }}

            {% if(localisations|length>1)  %}
                {{ form_row(form.localisation,  {'label' : "Lieu(x)"}) }}
            {% else %}
                <div class="hide">
                    {{ form_row(form.localisation) }}
                </div>
            {% endif %}

            </div>
    </div>


</div>