{% extends 'editeur.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Edition</h1>

        {{ form_start(form) }}
        {{ include('EditeurBundle:Ed:_form.html.twig') }}
            <input type="submit" value="Edit" class="btn btn-hesam" formnovalidate/>
        {{ form_end(form) }}

        {{ form_start(delete_form) }}
            <button value="Supprimer" class="btn btn-hesam right ">Supprimer</button>
        {{ form_end(delete_form) }}

        {% include "EditeurBundle:modals:_retour.html.twig" %}

    </section>
{% endblock %}
